* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-card {
    background: white;
    width: 320px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.weather-card h1 {
    margin-bottom: 15px;
}

.temperature {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.condition {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details div {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    width: 45%;
}